[GENERAL]
RESPONSEFILE_VERSION = "12.1.0"
OPERATION_TYPE = "createDatabase"

[CREATEDATABASE]
GDBNAME = "{{ORACLE_SID}}"
SID = "{{ORACLE_SID}}"
CREATEASCONTAINERDATABASE = true
NUMBEROFPDBS = 1
PDBNAME = {{ORACLE_PDB}}
PDBADMINPASSWORD = "{{ORACLE_PASSWORD}}"
TEMPLATENAME = "General_Purpose.dbc"
SYSPASSWORD = "{{ORACLE_PASSWORD}}"
SYSTEMPASSWORD = "{{ORACLE_PASSWORD}}"
CHARACTERSET="{{ORACLE_CHARACTERSET}}"
SAMPLESCHEMA={{ORACLE_SAMPLESCHEMA}}
