responseFileVersion=/oracle/assistants/rspfmt_dbca_response_schema_v12.2.0
gdbName={{ORACLE_SID}}
sid={{ORACLE_SID}}
createAsContainerDatabase=true
numberOfPDBs=1
pdbName={{ORACLE_PDB}}
pdbAdminPassword={{ORACLE_PASSWORD}}
templateName=General_Purpose.dbc
sysPassword={{ORACLE_PASSWORD}}
systemPassword={{ORACLE_PASSWORD}}
characterSet={{ORACLE_CHARACTERSET}}
sampleSchema={{ORACLE_SAMPLESCHEMA}}
